<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Transaction Manager</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.3/css/bootstrap.min.css">
</head>
<body>

<h1>Categories</h1>
<h4>Create Category</h4>
<form action="#" th:action="@{/addCategory}" th:object="${categoryQuery}" method="post">
    <div>
        <label>Category Name:
            <input type="text" th:field="*{categoryName}" placeholder="Category Name" required/>
            <input type="number" th:field="*{parentCategory_id}" placeholder="Parent Category ID"/>
        </label>
        <input type="submit" value="Submit"/>
    </div>
</form>

<form action="#" th:action="@{/addMcc}" th:object="${mccQuery}" method="post">
    <div>
        <label>Add mcc code to category:
            <input type="number" th:field="*{category_id}" placeholder="Category ID" required/>
            <input type="number" th:field="*{mcc}" placeholder="Mcc code" required/>
        </label>
        <input type="submit" value="Submit"/>
    </div>
</form>

<form action="#" th:action="@{/deleteCategory}" th:object="${categoryId}" method="post">
    <div>
        <label>Delete Category:
            <input type="text" th:field="*{id}" placeholder="Category ID" required/>
        </label>
        <input type="submit" value="Submit"/>
    </div>
</form>

<table class="table table-striped table-bordered">
    <thead>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Parent Category</th>
    </tr>
    <tr th:if="${#lists.isEmpty(categories)}">
        <td colspan="5">No Records found. Add some...!</td>
    </tr>
    </thead>
    <tbody>
    <tr th:each="category : ${categories}">
        <td th:text="${category.id}"></td>
        <td th:text="${category.name}"></td>
        <td th:text="${category.parentCategory != null ? category.parentCategory.name : 'Without category'}"></td>
    </tr>
    </tbody>
</table>

<h1>Transactions</h1>
<h4>Add Transactions</h4>
<form action="#" th:action="@{/addTransaction}" th:object="${transactionQuery}" method="post">
    <div>
        <label>Name:
            <input type="text" th:field="*{name}" required/>
        </label>
        <label>Amount:
            <input type="number" th:field="*{amount}" required/>
        </label>
        <label>Month (Number of month):
            <input type="number" th:field="*{month}" required/>
        </label>
        <label>Category ID:
            <input type="number" th:field="*{category_id}" placeholder="Category ID" required/>
        </label>
        <input type="submit" value="Submit"/>
    </div>
</form>

<form action="#" th:action="@{/deleteTransaction}" th:object="${transactionId}" method="post">
    <div>
        <label>Delete Transaction:
            <input type="text" th:field="*{id}" placeholder="Transaction ID" required/>
        </label>
        <input type="submit" value="Submit"/>
    </div>
</form>

<form action="#" th:action="@{/showAll}" method="get">
    <div>
        <label>Show all transactions:
        </label>
        <input type="submit" value="Submit"/>
    </div>
</form>

<form action="#" th:action="@{/showInCategory}" th:object="${sort}" method="get">
    <div>
        <label>Show transactions in category:
            <input type="number" th:field="*{categoryId}" placeholder="Category ID" required/>
        </label>
        <input type="submit" value="Submit"/>
    </div>
</form>

<form action="#" th:action="@{/sortByMonth}" th:object="${sort}" method="get">
    <div>
        <label>Show transactions by month:
            <input type="number" th:field="*{month}" placeholder="Number of month" required/>
        </label>
        <input type="submit" value="Submit"/>
    </div>
</form>


<table class="table table-striped table-bordered">
    <thead>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Amount</th>
        <th>Month</th>
        <th>Category</th>
    </tr>
    <tr th:if="${#lists.isEmpty(transactions)}">
        <td colspan="5">No Records found. Add some...!</td>
    </tr>
    </thead>
    <tbody>
    <tr th:each="transaction : ${transactions}">
        <td th:text="${transaction.id}"></td>
        <td th:text="${transaction.name}"></td>
        <td th:text="${transaction.amount}"></td>
        <td th:text="${transaction.getMonthString()}"></td>
        <td th:text="${transaction.getCategory() != null ? transaction.getCategory().name : 'No Category'}"></td>
    </tr>
    </tbody>
</table>

</body>
</html>
