<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Transaction Manager</title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body>

<h1>Categories</h1>

<form th:action="@{/categories}" th:object="${categories}" method="post">
    <label for="name">Category Name:</label>
    <input type="text" id="name" name="name" required>
    <label for="id">(Optional) Parent Category ID:</label>
    <input type="number" id="id" name="id">
    <label for="mcc">Mcc code:</label>
    <input type="number" id="mcc" name="mcc">
    <button type="submit">Add Category</button>
</form>

<table border="1">
    <thead>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Parent Category</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="category : ${categories}">
        <td th:text="${category.id}"></td>
        <td th:text="${category.name}"></td>
        <td th:text="${category.parentCategory != null ? category.parentCategory.name : 'Without category'}"></td>
    </tr>
    </tbody>
</table>

<h1>Transactions</h1>

<table border="1">
    <thead>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Amount</th>
        <th>Month</th>
        <th>Category</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="transaction : ${transactions}">
        <td th:text="${transaction.id}"></td>
        <td th:text="${transaction.name}"></td>
        <td th:text="${transaction.amount}"></td>
        <td th:text="${transaction.getMonthString()}"></td>
        <td th:text="${transaction.category.name}"></td>
    </tr>
    </tbody>
</table>

</body>
</html>
